<app-nav-bar></app-nav-bar>
<!-- Page Content -->
<div class="container" style="margin-top: 100px;">
  <!-- Page Heading -->
  <h1 class="my-4">
    Page Heading
    <small>Secondary Text</small>
  </h1>

  <span class="text-center" *ngIf="!(productList | async)">Loading</span>
  
  <app-produt-card
    *ngFor="let product of productList | async"
    [productDetails]="product"
  ></app-produt-card>

  <!-- Pagination -->
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</div>
<!-- /.container -->
